---
import '../styles/global.css';
import Head from '../components/Head.astro';
import BreadCrumb from '../components/BreadCrumb.astro';
import ToTopBtn from '../components/ToTopBtn.astro';
import { pageData, type PageData } from '../modules/data';

interface Props {
  pageData?: PageData;
}

const url = Astro.originPathname;
const { title: title, description } = Astro.props.pageData ??
  pageData.get(url) ?? { title: '[NO DATA]' };

const tabTitle = url === '/' ? title : `${title} | tktb-tess.github.io`;
---

<!doctype html>
<html lang='ja'>
  <Head {url} title={tabTitle} {description} />
  <body>
    <header>
      <h1 class='title'>
        {title}
      </h1>
    </header>
    <main>
      {url !== '/' && <BreadCrumb {url} />}
      <slot />
    </main>
    <ToTopBtn />
  </body>
</html>

<script>
  const key = 'gruss';
  if (!localStorage.getItem(key)) {
    const value = 'V2lsbGtvbW1lbiBhdWYgbWVpbmVyIFdlYnNlaXRlIQ==';
    localStorage.setItem(key, value);
  }
</script>

<script>
  import * as U from '@tktb-tess/util-fns';
  import * as X from '@tktb-tess/xenharmonic-tool';

  const N = 'UtilFns';
  const N2 = 'XenTool';
  const mod1 = { ...U, [Symbol.toStringTag]: N, __proto__: null };
  const mod2 = { ...X, [Symbol.toStringTag]: N2, __proto__: null };

  Object.freeze(mod1);
  Object.freeze(mod2);
  Object.defineProperties(window, {
    [N]: {
      value: mod1,
      enumerable: true,
    },
    [N2]: {
      value: mod2,
      enumerable: true,
    },
  });
</script>

<style lang="postcss">
  @reference '../styles/global.css';

  @layer components {
    body {
      @apply max-xl:flow-root xl:grid bg-side text-text;

      grid-template-areas:
        'h h h'
        'l m r'
        'f f f';

      grid-template-columns:
        minmax(min(var(--spacing-min-side), 100%), 1fr)
        minmax(0, var(--spacing-max-main))
        minmax(min(var(--spacing-min-side), 100%), 1fr);

      grid-template-rows: auto 1fr auto;
    }

    header,
    main,
    footer {
      @apply flow-root;
    }

    header {
      grid-area: h;
    }

    main {
      @apply px-4 pbe-36 bg-main min-block-lvh;
      grid-area: m;
    }

    footer {
      grid-area: f;
    }

    .title {
      @apply max-sm:text-4xl sm:text-5xl font-extralight font-title 
        text-balance my-title-mb text-center;
    }
  }
</style>
