---
import '../styles/global.css';
import Head from '../components/Head.astro';
import BreadCrumb from '../components/BreadCrumb.astro';
import ToTopBtn from '../components/ToTopBtn.astro';
import { pageData, type PageData } from '../modules/data';

interface Props {
  pageData?: PageData;
}

const path = Astro.originPathname;
const { title: title, description } = Astro.props.pageData ??
  pageData.get(path) ?? { title: '[NO DATA]' };

const tabTitle = path === '/' ? title : `${title} | tktb-tess.github.io`;
---

<!doctype html>
<html lang='ja'>
  <Head {path} title={tabTitle} {description} />
  <body>
    <header>
      <h1 class='title'>
        {title}
      </h1>
    </header>
    <main>
      {path !== '/' && <BreadCrumb {path} />}
      <slot />
    </main>
    <ToTopBtn />
  </body>
</html>

<style lang="postcss">
  @reference '../styles/global.css';

  @layer components {
    body {
      @apply max-xl:flow-root xl:grid bg-side text-text;

      grid-template-areas:
        'h h h'
        'l m r'
        'f f f';

      grid-template-columns:
        minmax(min(var(--spacing-min-side), 100%), 1fr)
        minmax(0, var(--spacing-max-main))
        minmax(min(var(--spacing-min-side), 100%), 1fr);

      grid-template-rows: auto 1fr auto;
    }

    header,
    main,
    footer {
      @apply flow-root;
    }

    header {
      grid-area: h;
    }

    main {
      @apply px-4 pbe-36 bg-main min-block-lvh;
      grid-area: m;
    }

    footer {
      grid-area: f;
    }

    .title {
      @apply max-sm:text-4xl sm:text-5xl font-extralight font-title 
        text-balance my-title-mb text-center;
    }
  }
</style>

<script>
  const key = 'gruss';
  if (!localStorage.getItem(key)) {
    const value = 'V2lsbGtvbW1lbiBhdWYgbWVpbmVyIFdlYnNlaXRlIQ==';
    localStorage.setItem(key, value);
  }
</script>
